@charset "utf-8";
L + ratio { }
:root { --Markup-loaded: yeah; }

.Markup, .Markup * {
	white-space: pre-wrap;
	/* ⚠ very important to prevent overflow ⚠ */
	word-break: break-word;
}

/**************************
 **   Theme Variables    **
 ** (see doc/themes.txt) **
 **************************/

*:not(*>*) { /* this selects :root with 0 specificity */
	/* normal colors */
	--T-color: black;
	--T-bg: white;
	
	--T-link-color: #056;
	--T-link-hover-color: #089;
	--T-link-decoration: underline #AAAA; /* idk..*/
	--T-custom-link-decoration: underline blue;
	
	--T-border-color: gray; /* nnnnn... */
	/* these are transparent, so they should work with both dark and light */
	--T-image-border: 1px solid var(--T-border-color);
	
	--T-box-bg: #AAA2;
	
	--T-red-bg: #F888;
	--T-green-bg: #FA08;
	--T-yellow-bg: #FF08;
	--T-orange-bg: #0F08;
	--T-blue-bg: #08F8;
	--T-purple-bg: #C0F8;
	--T-gray-bg: #AAA8;
	
	--T-link-bg: #5CE5; /* for links w/ custom text */
	

	--T-tab-size: 2.5;
	--T-embed-height: 10vh;
	
	--T-font: 1em sans-serif;
	--T-monospace-font: 0.8128em consolas, monospace;
}

/** aa */

.Markup {
	color: var(--T-color);
	background: var(--T-bg);
	font: var(--T-font); /* this is kinda bad.. maybe there should be a --T-markup-font ? or something separate for the main site and markup. then you can set --T-markup-font to "inherit" */
	font-variant-ligatures: none;
	-moz-tab-size: var(--T-tab-size);
	tab-size: var(--T-tab-size);
}

.Markup * {
	font-family: inherit;
	margin: 0;
}

/* fit */
/* {
	width: unset;
	width: fit-content;
	width: -moz-fit-content;
}*/
/* stretch */
/* {
	display: block;
	max-width: 100%;
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: stretch;
}*/

/************/
/** Images **/
/************/

/* styles and maximum sizes for embedded media */
.Markup img, .M-image-wrapper {
	max-height: var(--T-embed-height);
	border: var(--T-image-border);
	box-sizing: content-box;
}
					 
.Markup img {
	display: block;
	object-fit: scale-down;
	
	max-width: -webkit-fill-available;
	max-width: -moz-available;
	max-width: stretch;
	
	width: auto;
}

/* before loading, assume image will be larger than --image-max-height */
.Markup img[data-state="loading"], .Markup img[data-state="error"] {
	height: var(--T-embed-height);
	min-width: 2em;
}
.Markup img[data-state="loaded"] {
	height: auto;
}

/* ruby text doesn't work if set to white-space: pre */
.Markup rt {
	white-space: pre-line;
}

/*** invalid tag ***/
.M-invalid {
	background: #F888;
}

/*** keyboard key ***/
.Markup kbd {
	display: inline-block;
	
	background: var(--T-box-bg);
	border: 1px solid var(--T-border-color);
	border-radius: 3px;
	padding: 0.1875rem 0.375rem;
	font: var(--T-monospace-font);
	vertical-align: middle;
}

/*** divider ***/
.Markup hr {
	margin: 0.5rem 0;
}

/**********/
/** Code **/
/**********/
.Markup pre, .Markup code {
	font: var(--T-monospace-font);
}
/* inline */
.Markup code {
	line-break: anywhere;
	vertical-align: 1px;
	background: #9996;
	padding: 0 0.1875em;
	border-radius: 4px;
	margin: 0 0.1em;
}
/* block */
.Markup pre {
	color: white;
	background: black;
	border: 1px solid black;
	padding: 0.5em;
	margin: 0.25em 0;
	line-break: anywhere;
}

/*************/
/** Spoiler **/
/*************/
.M-spoiler-label {
	display: table; /* width... */
	background: var(--T-box-bg);
	cursor: pointer;
	padding: 0 0.3125em;
	border: 2px solid var(--T-border-color);
	border-left-width: 4px;
	border-radius: 5px;
	margin-top: 1px;
}
.M-spoiler-label::before {
	content: "Show ";
}
[open] > .M-spoiler-label {
	border-style: inset;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 1px;
}
[open] > .M-spoiler-label::before {
	content: "Hide ";
}
.M-spoiler-inner {
	background: var(--T-box-bg);
	padding: 0.375rem;
	border: 2px solid var(--T-border-color);
	border-left-width: 4px;
	margin-bottom: 1px;
}
/* hide the ▼/▶ icon in safari */
.M-spoiler-label::-webkit-details-marker {
	display: none;
}

/***********/
/** Quote **/
/***********/
.M-quote {
	background: var(--T-box-bg);
	padding: 0.375rem;
	border: 2px solid var(--T-border-color);
	margin: 1px 0;
}
.M-quote-label {
	unicode-bidi: embed;
	font-weight: bold;
	font-style: normal;
}
.M-quote-inner {
	margin-left: 0.5rem;
}

/***********/
/** Table **/
/***********/
.M-table-outer {
	overflow-x: auto;
}
.Markup table, .Markup td, .Markup th {
	border: 1px solid var(--T-color);
	border-collapse: collapse;
}
.Markup td, .Markup th {
	padding: 0.1875em 0.3125em;
	/* alternate text wrap mode, produces better table widths (somewhat) */
	word-break: normal; overflow-wrap: break-word;
}

/**********************/
/** Background Color **/
/**********************/
.Markup [data-bgcolor="red"]    { background: var(--T-red-bg) }
.Markup [data-bgcolor="orange"] { background: var(--T-orange-bg) }
.Markup [data-bgcolor="yellow"] { background: var(--T-yellow-bg) }
.Markup [data-bgcolor="green"]  { background: var(--T-green-bg) }
.Markup [data-bgcolor="blue"]   { background: var(--T-blue-bg) }
.Markup [data-bgcolor="purple"] { background: var(--T-purple-bg) }
.Markup [data-bgcolor="gray"]   { background: var(--T-gray-bg) }
.Markup table { background: var(--T-bg); } /* reset */

/***********/
/** Links **/
/***********/
.M-link {
	color: var(--T-link-color);
	text-decoration: var(--T-link-decoration);
	-webkit-text-decoration: var(--T-link-decoration);
}
.M-link:hover {
	color: var(--T-link-hover-color);
}
/* links with custom text */
.M-link-custom {
	text-decoration: var(--T-custom-link-decoration);
	-webkit-text-decoration: var(--T-custom-link-decoration);
}
.M-link-custom:hover {
	text-decoration-style: double;
	-webkit-text-decoration-style: double;
}

/***********/
/** Lists **/
/***********/
.Markup ul {
	padding-left: 1.3125em;
	/*border: 4px solid transparent;
	border-left: 4px solid var(--T-border-color);*/
}

/* todo: this isn't valid, need to change how we generate this */
.Markup ul > ul {
	padding-left: 1em;
}

.Markup li:last-child {
    margin-bottom: 0.25em;
}

/*************/
/** Preview **/
/*************/

.M-preview {
	color: white;
	background: #444;
	padding: 0.375rem;
}

/***********/
/** Media **/
/***********/

.M-image-wrapper {
	aspect-ratio: 16/9;
	contain: strict;
	position: relative;
	width: auto !important;
	max-width: calc(100% - 2px);
	align-self: flex-start;
	height: var(--T-embed-height);
}

.M-image-wrapper > * {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	background: black;
}

.Markup media-player {
	display: flex;
	flex-flow: column;
	max-width: 100%;
}

.M-media-controls {
	display: flex;
	gap: 3px;
	align-items: center;
	padding-right: 3px;
}

.M-audio-player, .M-video-player > .M-media-controls {
	border: 2px solid var(--T-border-color);
	background: slategray;
	border-radius: 0 3px 3px 3px;
	color: white;
	width: max-content;
}

.Markup media-player > * {
	flex: none;
}

.M-media-controls > button {
	padding: 2px;
	line-height: 1em;
}

.M-media-time {
	flex-grow: 1;
}

.M-media-volume {
	width: 50px;
}

.Markup youtube-embed {
	display: block;
}

/**************/
/** Headings **/
/**************/

.Markup h2, .Markup h3, .Markup h4, .Markup h5 {
	margin: 0.1em 0;
	border-bottom: 1px dotted var(--T-border-color);
}

.Markup h2 {
	font-size: 2em;
	font-weight: 500;
	background: var(--T-gray-bg);
	padding: 0 0.1em;
	border-bottom: 1px solid var(--T-border-color);
	border-top: 1px solid var(--T-border-color);
}

.Markup h3 {
	background: var(--T-box-bg);
	padding: 0 0.1em;
	font-size: 1.6875em;
	font-weight: 500;
}

.Markup h4 {
	font-size: 1.5em;
	font-weight: 500;
}

.Markup h5 {
	font-size: 1.125em;
	font-weight: bold;
}
