body[data-theme="frog"] {
    --rightpanebg: mediumaquamarine;
    --titlebg: deepskyblue;
    --imageminibg: ghostwhite;
    --activitybg: antiquewhite;
    --linkvisitedcolor: rebeccapurple;
}

body[data-theme="purple"] {
    --stdborder: 1px solid #8c75c8;
    --rightpanebg: #e9e2fc;
    --titlebg: #c1b1e1;
    --imageminibg: #ccc7f9;
    --activitybg: #decaf3;
    --connectedbg: lawngreen;
    --usercolor: #522a74;
    --modulecolor: darkcyan;
    --modulecontentcolor: gray;
    --annotationcolor: #c5a7da;
    --notificationbg: #c1b3e2;
    --notificationalertbg: #ff77f7;
    --mainbg: #fff8ff;
    --maincolor: #4c4264;
    --font: sans-serif;
    --linkcolor: #2e73fd;
    --linkvisitedcolor: #6112ab;
}

body[data-theme="blue"] {
    --stdborder: 1px solid #7ea0c1;
    --rightpanebg: #e1eef5;
    --titlebg: #64b5d8;
    --imageminibg: #b9e1fa;
    --userlistbg: #bcd3ea;
    --activitybg: #f4f8ff;
    --connectedbg: #00ff9c;
    --usercolor: #002d8b;
    --modulecolor: darkcyan;
    --modulecontentcolor: gray;
    --annotationcolor: #8ab3da;
    --notificationbg: #d5e5ec;
    --notificationalertbg: #fa72ff;
    --mainbg: #f2fbff;
    --maincolor: #1c2363;
    --font: sans-serif;
    --linkcolor: #0669da;
    --linkvisitedcolor: rgb(36 26 139);
}

body[data-theme="terminal"] {
    --stdborder: 1px solid lime;
    --rightpanebg: black;
    --titlebg: black;
    --imageminibg: lime;
    --connectedbg: lawngreen;
    --usercolor: lime;
    --modulecolor: darkcyan;
    --modulecontentcolor: #999;
    --annotationcolor: #999;
    --notificationbg: black;
    --notificationalertbg: red;
    --mainbg: black;
    --maincolor: lime;
    --linkcolor: cyan;
    --linkvisitedcolor: magenta;
}
body[data-theme="terminal"] button {
    background: var(--maincolor); /*#3333FF;*/
    color: var(--mainbg);
    border: var(--stdborder);
}

body[data-theme="dark"] {
    --stdborder: 1px solid #555;
    --rightpanebg: #333;
    --titlebg: #111;
    --imageminibg: #777;
    --connectedbg: limegreen;
    --usercolor: cornflowerblue;
    --modulecolor: cadetblue;
    --modulecontentcolor: gray;
    --annotationcolor: #777;
    --notificationbg: darkblue;
    --notificationalertbg: darkred;
    --mainbg: #222;
    --maincolor: #CCC;
    --linkcolor: deepskyblue;
    --linkvisitedcolor: mediumpurple;
}
body[data-theme="dark"] button {
    background: #2f2f2f;
    color: var(--maincolor);
    border: var(--stdborder);
}

body:not([data-showmessageselect]) .messageselect {
    display: none;
}
#rethreadpid {
    width: 4em;
}

.privateparent { position: relative; }
.private {
    position: absolute;
    bottom: 0em;
    right: -1.1em;
    z-index: 100;
    font-size: 0.7em;
}
.content_title img, .title img {
    height: 1.2em;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-right: 0.25em;
    vertical-align: middle;
}

/* [data-fancy] #messagelist { font-size: 1.05em; } */
[data-fancy] .message { display: flex; }
[data-fancy] .message .content { margin-left: 0; }
[data-fancy] .message .avatar { 
    width: 2.7em; 
    margin-top: 0.23em;
    margin-right: 0.3em;
}

[data-fancy] .leftmessage { flex: none; }
[data-fancy] .rightmessage { flex: auto; }
[data-fancy] .userinfo time { white-space: nowrap; }

[data-fancy] #userlist {
    display: flex;
    flex-wrap: wrap;
}

[data-fancy] #userlist .user { width: 2.5em; height: 2.5em; }
[data-fancy] #userlist .avatar { 
    width: 100%; 
    height: 100%; 
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 0;
}

[data-fancy] ::-webkit-scrollbar {
  /*width: 5px;
  height: 8px;*/
  background-color: var(--mainbg); /* or add it to the track */
}

[data-fancy] ::-webkit-scrollbar-thumb {
  background: var(--notificationbg);
}