body {
    font-family: monospace;
    margin: 0;
}

#main {
    margin: 1em;
}

label, input:not([type="checkbox"]), textarea, select {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 0.3em;
}

textarea {
    min-height: 5em;
}

#page-editor-text {
    min-height: 25em;
    max-width: 100%;
}

header {
    margin-bottom: 0.5em;
    padding: 0.25em 0.5em;
    background-color: #333;
}

header a:visited, header a:link {
    color: #CCC;
    text-decoration: none;
    font-weight: bold;
}

header a.active {
    color: limegreen;
}

img {
    max-width: 100%;
    max-height: 50vh;
}

.error { color: red; }
.success { color: green; }
.systemmsg { color: cornflowerblue; }
.successmsg { color: darkseagreen; }
.broadcastmsg { color: palevioletred; }
.userlistmsg { color: coral; }

.describe tr td:first-of-type {
    font-weight: bold;
    padding-right: 0.5em;
}

.describe tr td:first-of-type::after {
    content: ":";
}

.important { font-weight: bold;; }
.label::after { content: ":"; }

.annotation {
    font-size: 0.8em;
    color: gray;
}

.nav {
    margin: 0.5em 0;
}

.results {
    margin: 0.5em 0.25em;
}

.content {
    white-space: pre-wrap;
    margin: 0.5em;
    padding: 0.3em;
    background-color: #f7f7f7;
    border: 1px solid #DDD;
}

.console {
    background-color: #444;
    color: #AAA;
    font-family: monospace;
    width: 100%;
    height: 50vh;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.allblock > *:not([hidden]) {
    display: block;
}

.marginvertical {
    margin-top: 1em;
    margin-bottom: 1em;
}