body {
    font-family: monospace;
}

label, input {
    display: block;
}

header {
    margin-bottom: 0.5em;
}

.error { color: red; }
.success { color: green; }
.hidden { display: none; }

.describe tr td:first-of-type {
    font-weight: bold;
    padding-right: 0.5em;
    /*text-align: right;*/
}

.describe tr td:first-of-type::after {
    content: ":";
}

.important { font-weight: bold;; }

.annotation {
    font-size: 0.8em;
    color: gray;
}

.nav {
    margin: 0.5em 0;
}

.results {
    margin: 0.5em 0.25em;
}