body {
    font-family: monospace;
}

label, input {
    display: block;
}

.error {
    color: red;
}

.success {
    color: green;
}

.describe tr td:first-of-type {
    font-weight: bold;
    padding-right: 0.5em;
    /*text-align: right;*/
}

.describe tr td:first-of-type::after {
    content: ":";
}
