html {
	color-scheme: light;
	--border-color: gray;
	--bar-bg: #EEE;
	/*--spoiler-bg: #F7F7F7;*/
	--main-color: #222;
	--bgred: #FCC;
	--bgorange: #FEA;
	--bgyellow: #FF8;
	--bggreen: #CFC;
	--bgblue: #CEF;
	--bgpurple: #ECF;
	--bggray: #DDD;
	word-break: break-word;
}

.content details {
	background: var(--mainbg) !important;
	color: var(--maincolor) !important;
}
.content details summary, .content details > div {
	background: transparent !important;
}

.content pre {
	background-color: #000;
	color: #EEE;
}
.content pre * {
	background-color: transparent;
}
.content pre .name { color: #7FF5EF; }
.content pre .string { color: #59EE79; }
.content pre .number { color: #f359ab; }
.content pre .keyword {
	font-weight: bold;
	color: #2494f0;
}
.content pre .comment { color: #a1f198; }
.content pre .variable { color: #fbf4cb; }
.content pre .function { color: #8d7ff5; }
.content pre .statement { color: #7ff5ef; }
.content pre .backslash { color: #777; }
.content pre .operator { color: #EEE; }
.content pre .equals { color: #EEE; }
.content pre .label { color: #f4963e; }
.content pre .word-operator { color: #2494f0; }
.content pre .to-step { color: #2494f0; }
.content pre .constant { color: #aeb5c2; }