[Unit]
Description=Contentapi for servicing sbs

[Service]
WorkingDirectory=/storage/random/contentapi
ExecStart=/storage/random/contentapi/contentapi --urls "http://localhost:5000"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=contentapi
User=www-data
Environment="ASPNETCORE_ENVIRONMENT=Development"
# Environment=ASPNETCORE_ENVIRONMENT=Production
# Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
